<div class="form-group row">
    <div class="col-sm-4" for="date">
        <span class="align-middle">ชื่อลูกค้า</span>
    </div>
    <div class="col-sm-7">
        <div class="input-group align-middle">
            <select class="custom-select" id="customer">
                <option selected value="-1">เลือกชื่อลูกค้า...</option>
                <% print.forEach(function (customerList) { %>
                <option value="0">
                    <%= customerList.customer_name %>
                </option>
                <% }) %>

            </select>
        </div>
    </div>
</div>