
<!DOCTYPE html>
<html>
    <head>
                    <link rel="stylesheet" href="../style/side-menu.css">
                    <link rel="stylesheet" href="../style/bootstrap.min.css">
                    <link rel="stylesheet" href="../style/Header.css">
                    <link rel="stylesheet" href="../style/menu.css">
                    <script src="../style/popper.min.js"></script>
    </head>
    <body>
                <div className= "navbar bg-primary"> 
                                <div className="col-md-4" ><h1 className="Text-header"> Phanuekdee Transportation </h1></div>
                                <div className="col-md-4"></div>
                                <div className="col-md-4" > <% include menu.ejs %></div>
                </div>
            </body>
        </html>