<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="../style/Header.css">
    </head>
    <body>
            <div className= "navbar bg-primary"> 
                <div className="col-md-4" ><h1 className="Text-header"> Phanuekdee Transportation </h1></div>
                <div className="col-md-4"></div>
                <div className="col-md-4" ><SideMenu/></div>
            </div>
    </body>
    </html>
