<!DOCTYPE html>
<html>
    <head>
                    <link rel="stylesheet" href="..style/side-menu.css">
                    <link rel="stylesheet" href="../style/bootstrap.min.css">
                    <link rel="stylesheet" href="../style/Header.css">
                    <link rel="stylesheet" href="../style/menu.css">
                    <script src="../style/popper.min.js"></script>
    </head>
    <body>
            <div>
                <li><a href="/" activeClassName="is-active" className="btn btn-primary text-light navbar-item">หน้าแรก</a></li>
                <li><a href="/listjob" activeClassName="is-active" className="btn btn-primary text-light navbar-item">รายการงาน</a></li>
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          บัญชี
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/payment" >รายรับ รายจ่าย</a>
                        <a class="dropdown-item" href="/listpayment">ส่งบิล</a>
                        <a class="dropdown-item" href="/salary">รายได้พนักงาน</a>
                        <a class="dropdown-item" href="/listcash_customer">รายการชำระเงินลูกค้า</a>
                    </div>       
                </div>
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          เอกสาร
                        </button>
                         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="/detail_account" activeClassName="is-active" className="dropdown-item navbar-item">รายละเอียดบัญชี</a></li>
                            <li><a class="dropdown-item" href="/invoice" activeClassName="is-active" className="dropdown-item navbar-item">ใบแจ้งหนี้</a></li>
                            <li><a class="dropdown-item" href="/bill" activeClassName="is-active" className="dropdown-item navbar-item">ใบเสร็จ</a></li>
                            <li><a class="dropdown-item" href="/commission" activeClassName="is-active" className="dropdown-item navbar-item">ใบว่าจ้าง</a></li>
                            <li><a class="dropdown-item" href="/register" activeClassName="is-active" className="dropdown-item navbar-item">ใบสมัครงาน</a></li>
                    </div>
                </div>
                <li><a href="/tracking" activeClassName="is-active" className="btn btn-primary text-light navbar-item">ติดตามรถ</a></li>
            </div>
            </body>
        </html>