<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>
    <div className="">
        <h1>
            <% include includes/header.ejs %>
        </h1>
    </div>
    <div>
        <table className="table table-hover">
            <thead>
                <tr>
                    <th className="text-center" scope="col">วันที่</th>
                    <th className="text-center" scope="col">เวลา</th>
                    <th className="text-center" scope="col">พนักงานขับรถ</th>
                    <th className="text-center" scope="col">ชื่อลูกค้า</th>
                    <th className="text-center" scope="col">ชื่อผู้ว่าจ้าง</th>
                    <th className="text-center" scope="col">ต้นทาง</th>
                    <th className="text-center" scope="col">ปลายทาง</th>
                    <th className="text-center" scope="col">ราคา</th>
                    <th className="text-center" scope="col">ชำระ</th>
                    <th className="text-center" scope="col">หมายเหตุ</th>
                    <th className="text-center" scope="col">แก้ไข</th>
                </tr>
            </thead>
            <tbody>

                <% include modal/listjob-modal.ejs %>
            </tbody>
        </table>
        <div>
            <% include modal/AddListjob-modal.ejs %>
        </div>
    </div>
</body>

</html>