<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="style/side-menu.css">
    </head>
    <body>
            <div className="">
                    <h1><% include includes/header.ejs %></h1> 
                  </div>
        
    <div className="">
            <h1>บ้าน</h1> 
          </div>
    </body>

</html>           
            
