<!DOCTYPE html>
<html>

<head>
    <% include partial/header.ejs %>
</head>

<body>
    <% include partial/listJobTable.ejs %>

    <div class="d-flex justify-content-center ">
        <div class="text-center">เพิ่มรายการงาน &nbsp; &nbsp;</div>
        <div>
            <% include modal/add-listjob-modal.ejs %>
        </div>
    </div>
</body>

</html>