<!DOCTYPE html>
<html>

<head>
    <% include partial/header-addjob.ejs %>
</head>

<body>
    <% include partial/listJobTable.ejs %>

    <div class="d-flex justify-content-center ">
        <div class="text-center">เพิ่มรายการงาน &nbsp; &nbsp;</div>
    </div>
    
</body>

</html>