    <!DOCTYPE html>
    <html>
            <head>
                    <link rel="stylesheet" href="modal/listjob-modal.js">
                    <link rel="stylesheet" href="modal/AddListjob-modal.js">
                    <link rel="stylesheet" href="style/side-menu.css">
                    <link rel="stylesheet" href="bootstrap/dist/js/bootstraps">
            </head>
            <body>
                    <div className="">
                            <h1><% include includes/header.ejs %></h1> 
                          </div>
            <div>   
                <table className="table table-hover">
                    <thead>
                        <tr>
                        <th className="text-center" scope="col">วันที่</th>
                        <th className="text-center" scope="col">เวลา</th>
                        <th className="text-center" scope="col">พนักงานขับรถ</th>
                        <th className="text-center" scope="col">ชื่อลูกค้า</th>
                        <th className="text-center" scope="col">ชื่อผู้ว่าจ้าง</th>
                        <th className="text-center" scope="col">ต้นทาง</th>
                        <th className="text-center" scope="col">ปลายทาง</th>
                        <th className="text-center" scope="col">ราคา</th>
                        <th className="text-center" scope="col">ชำระ</th>
                        <th className="text-center" scope="col">หมายเหตุ</th>
                        <th className="text-center" scope="col">แก้ไข</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <% include modal/listjob-modal.ejs %>
                    </tbody>
                </table>
                <div>
                        <% include modal/AddListjob-modal.ejs %>
                </div>
            </div>
            </body>
 </html>
