<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
<div className="">
        <h1><% include includes/header.ejs %></h1> 
      </div>

            <div className='row'>
                <div className="container-fluid">  </div> 
                <div className="container-fluid row">
                    <div className="col-md-3 d-none d-md-block bg-light sidebar"> </div>
                    <div className="col-md-8"> 
                    <div className="">รายรับรายจ่าย</div>
                    </div>
                </div> 
            </div>
        </body>
        </html>
  