<!DOCTYPE html>
<html>
    <head>
        test
    </head>

    <body>
        <h1>
        User: <%=user.name%>
        </h1>
        <p> IEIE </p>
        <% include includes/nav.ejs %>
    </body>
</html>