<form action="/savetrucks" method="POST">
    <div class="form-group row">
        <div class="col-sm-4" for="date">
          <span class="align-middle">หมายเลขรถ</span>
        </div>
        <div class="col-sm-7">
          <div class="input-group align-middle">
            <input class="form-control " name="trucks_id" placeholder="..."
              autocomplete="off" type="text" />
          </div>
        </div>
      </div>
    
      <div class="form-group row">
        <div class="col-sm-4" for="date">
          <span class="align-middle">ชนิดรถ</span>
        </div>
        <div class="col-sm-7">
          <div class="input-group align-middle">
            <input class="form-control " name="trucks_type" placeholder="..."
              autocomplete="off" type="text" />
          </div>
        </div>
      </div>
    
      <div class="form-group row">
        <div class="col-sm-4" for="date">
          <span class="align-middle">ยี่ห้อ</span>
        </div>
        <div class="col-sm-7">
          <div class="input-group align-middle">
            <input class="form-control " name="brand" placeholder="..."
              autocomplete="off" type="text" />
          </div>
        </div>
      </div>
    
      <div class="form-group row">
        <div class="col-sm-4" for="date">
          <span class="align-middle">รุ่น</span>
        </div>
        <div class="col-sm-7">
          <div class="input-group align-middle">
            <input class="form-control " name="model" laceholder="..."
              autocomplete="off" type="text" />
          </div>
        </div>
        
      </div>

      <div class="form-group row">
        <div class="col-sm-4" for="date">
          <span class="align-middle">ทะเบียนรถ</span>
        </div>
        <div class="col-sm-7">
          <div class="input-group align-middle">
            <input class="form-control " name="plate_no" laceholder="..."
              autocomplete="off" type="text" />
          </div>
        </div>
        
      </div>
      <button type="submit" class="btn btn-primary" name="submit">save</button>
      </form>
    
    