<div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <!-- real class is "collapse" -->
            <div class="bg-dark p-4">
    
                
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="input-group col-10">
                <div class="input-group-prepend">
                    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars btn-dark"></span>
                    </button>
                </div>
                <input class="form-control col-3" id="SerchInput" placeholder="ค้นหา..." type="text" />
                <a href="/addJobBudget"> </a>
            </div>
        </nav>
    </div>
    <div>
        <table class="table table-md">
            <tr>
                <th scope="col">       
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">ชื่อพนักงาน :</span>
                        </div>
                        <select class="selectpicker">
                            <option>พนักงาน 1</option>
                            <option>พนักงาน 2</option>
                            <option>พนักงาน 3</option>
                        </select>  
                        <div class="input-group-prepend">
                                <span class="input-group-text" id="">เดือน :</span>
                        </div>
                        <select class="selectpicker">
                                <option>มกราคม</option>
                                <option>กุมภาพันธ์</option>
                                <option>มีนาคม</option>
                        </select>  
                        <div class="input-group-prepend">
                                <span class="input-group-text" id="">ปี :</span>
                        </div>
                        <select class="selectpicker">
                                <option>2560</option>
                                <option>2561</option>
                                <option>2562</option>
                        </select>  
                    </div>
                </th>
            </tr>
        </table>
    </div>
    <table id="dtOrder" class="table table-sm">
        <thead>
            <tr>
                <th scope="col">วันที่<i class="fa fa-fw fa-sort"></i></th>
                <th scope="col">ชื่อลูกค้า<a class="fa fa-fw fa-sort"></a></th>
                <th scope="col">ชื่อผู้ติดต่อ<a class="fa fa-fw fa-sort"></a></th>
                <th scope="col">ต้นทาง - ปลายทาง<i class="fa fa-fw fa-sort"></i></th>
                <th scope="col">ราคา<i class="fa fa-fw fa-sort"></i></th>
            </tr>
        </thead>
    </table>

    <table id="dtOrder" class="table table-sm">
        <thead>
            <tr>
                <th scope="col">รวมยอดงานที่วิ่งได้ : <i class=""></i></th>
                <th scope="col">XXXX บาท <i class=""></i></th>
            </tr>
            <tr>
                <th scope="col">รายได้ของ %%ดึงชื่อจาก db%% : <i class=""></i></th>
                <th scope="col">XXXX บาท <i class=""></i></th>
            </tr>
        </thead>
    </table>
    
    <script>
        $("#order-select").change(function () {
            document.location.href = $(this).val();
            $('#order-select option').removeAttr('selected');
        });
        $("#order-select option[id='<%= page %>']").attr('selected', true);
    
        $(function () {
            $("#listjobRow tr[value=1]").addClass('table-success');
    
        });
    
    
        $(function () {
            $('.selectpicker').selectpicker({});
            $('.selectpicker').on('changed.bs.select', function (e) {
                console.log('Value is: ' + this.options[this.selectedIndex].value +
                    ' Text is: ' + this.options[this.selectedIndex].textContent);
            });
    
        });
    
    
        function myFunction() {
            var str = "Hello ";
            var pageVal = document.getElementById("order-select").getElementsByTagName("option selected").getAttribute("id");
            var res = "SELECT * FROM `listjobs` JOIN customer ON listjobs.customer = customer.id JOIN dealer ON listjobs.dealer = dealer.id JOIN driver ON listjobs.driver = driver.id ORDER BY " + pageVal + ".id";
            document.getElementById("demo").innerHTML = res;
        }
    </script>