<form action="/saveregiscustomer" method="POST">
<div class="form-group row">
    <div class="col-sm-4" for="date">
      <span class="align-middle">ชื่อลูกค้า</span>
    </div>
    <div class="col-sm-7">
      <div class="input-group align-middle">
        <input class="form-control " name="customer" placeholder="..."
          autocomplete="off" type="text" />
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4" for="date">
      <span class="align-middle">รหัสลูกค้า</span>
    </div>
    <div class="col-sm-7">
      <div class="input-group align-middle">
        <input class="form-control " name="codename" placeholder="..."
          autocomplete="off" type="text" />
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4" for="date">
      <span class="align-middle">ที่อยู่</span>
    </div>
    <div class="col-sm-7">
      <div class="input-group align-middle">
        <input class="form-control " name="address" placeholder="..."
          autocomplete="off" type="text" />
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4" for="date">
      <span class="align-middle">เบอร์ติดต่อ</span>
    </div>
    <div class="col-sm-7">
      <div class="input-group align-middle">
        <input class="form-control " name="contact" placeholder="..."
          autocomplete="off" type="text" />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" name="submit">บันทึกรายการงาน</button>
  </form>

