<form action="/saveregisdealer" method="POST">
    <div class="form-group row">
        <div class="col-sm-4" for="date">
          <span class="align-middle">ชื่อผู้ติดต่อ</span>
        </div>
        <div class="col-sm-7">
          <div class="input-group align-middle">
            <input class="form-control " name="name" placeholder="..."
              autocomplete="off" type="text" />
          </div>
        </div>
      </div>
    
      <div class="form-group row">
        <div class="col-sm-4" for="date">
          <span class="align-middle">นามสกุลผู้ติดต่อ</span>
        </div>
        <div class="col-sm-7">
          <div class="input-group align-middle">
            <input class="form-control " name="sername" placeholder="..."
              autocomplete="off" type="text" />
          </div>
        </div>
      </div>
    
      <div class="form-group row">
        <div class="col-sm-4" for="date">
          <span class="align-middle">ที่อยู่ผู้ติดต่อ</span>
        </div>
        <div class="col-sm-7">
          <div class="input-group align-middle">
            <input class="form-control " name="address_deal" placeholder="..."
              autocomplete="off" type="text" />
          </div>
        </div>
      </div>
    
      <div class="form-group row">
        <div class="col-sm-4" for="date">
          <span class="align-middle">เบอร์ติดต่อผู้ติดต่อ</span>
        </div>
        <div class="col-sm-7">
          <div class="input-group align-middle">
            <input class="form-control " name="contact_deal" placeholder="..."
              autocomplete="off" type="text" />
          </div>
        </div>
      </div>

      <div class="form-group row">
            <div class="col-sm-4" for="date">
              <span class="align-middle">บริษัทที่ติดต่อ</span>
            </div>
            <div class="col-sm-7">
              <div class="input-group align-middle">
                <input class="form-control " name="cus_deal" placeholder="..."
                  autocomplete="off" type="text" />
              </div>
            </div>
          </div>


      <button type="submit" class="btn btn-primary" name="submit">save</button>
      </form>
    
    