<!DOCTYPE html>
<html>

<head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
                integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
                crossorigin="anonymous">

</head>

<body>
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg sticky-top ">
                <a class="navbar-brand" href="/">Phanuekdee Transport</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                        <a class="nav-link" href="/listjobs">รายการงาน <span
                                                        class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                จัดการบัญชี
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#">บัญชีใช้รถของลูกค้า</a>
                                                <a class="dropdown-item" href="#">บัญชีรายได้ของพนักงาน</a>
                                                <a class="dropdown-item" href="#">บัญชีการซ่อมบำรุงรถ</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">สรุปบัญชีรวม</a>
                                        </div>
                                </li>
                                <li class="nav-item dropdown active">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                เอกสาร
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#">สัญญาว่าจ้าง</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">ดาวน์โหลดสำเนาเอกสาร</a>
                                        </div>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" href="tracking">ติดตามรถ</a>
                                </li>
                        </ul>
                </div>



                <div class="input-group  mb-3 my-2 my-lg-0 col-md-1">
                        <select class="custom-select" id="orderby" onchange="FN()">
                                <option value=" ">Select</option>
                                <option value="date">วันที่</option>
                                <option value="customer">ชื่อลูกค้า</option>
                                <option value="2">ชนิดรถ</option>
                                <option value="2">ชื่อผู้ขับรถ</option>
                        </select>

                </div>
               
                
        </nav>
</body>

</html>

