<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">วันที่</th>
            <th scope="col">ชื่อลูกค้า</th>
            <th scope="col">ชื่อผู้ติดต่อ</th>
            <th scope="col">ชื่อผู้ขับรถ</th>
            <th scope="col">ชนิดรถ</th>
            <th scope="col">ต้นทาง</th>
            <th scope="col">ปลายทาง</th>
            <th scope="col">ราคา</th>
            <th scope="col">รายละเอียดอื่นๆ</th>
            <th scope="col">แก้ไข</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@AAAAAAAAAAmdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdVVVVVVBBBBVVBBBBBBBo@mdVVVVV</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
                <% include ../modal/edit-listjob-modal.ejs %>
            </td>
        </tr>
    </tbody>

</table>